/*
 *
 * CSS Reset
 *
 */
 * {
 	padding: 0;
 	margin: 0;
 	box-sizing: border-box;
 }

/*
 *
 * General Rules
 *
 */
 
body{
 	font-family: 'PT Sans Narrow', sans-serif;
}



/*section#home {
	background-color: red;
	min-width: 100vw;
	min-height: 100vh;
	text-align: center;
}*/

/*section#home > div > img {
	width: 100vw;
	min-height: 100vh;
	margin-top: -40px;
	margin-left: -40px;
	margin-bottom: -40px;
}
*/

img.card-img {
	width: 100vw;
	height: 100vh;
	margin-top: 0px;
	margin-left: -18px;
	margin-right: -37px;
}


.card-img-overlay{
	margin-top: 25%;
}

.input-group {
	min-width: 100%;
	min-height: 100%;
	padding-right: 70%;
	text-align: center;
}

h5.card-title{
	text-align: center;
}

p.card-text{
	text-align: justify;
}

/*section#services{
	background-color: green;
	min-height: 35vh;
	text-align: center;
	color: white;
}

section#services > div {
	border:2px;
	padding: 20px;
	width: 25%;
}

section#services > div > p {
	text-align: right;
	margin: 0 auto;
}	

section#services > div > img {
	width: 50%;
	float: left;
}

section#about{
	background-color: blue;
	min-height: 35vh;
	text-align: center;
	color: white;
}

section#contact{
	background-color: yellow;
	min-height: 35vh;
	text-align: center;
}*/

.clear:after {
 	content: "";
 	display: block;
 	clear: both;
}
 	










