/*
 *
 * Tablet Devices
 *
 */

 @media only screen and (max-width: 960px) and (min-width:401px){

 	/*============================================
 	       INDEX/HOME/
 	=============================================*/
 /* ================================
   		      HEADER
   ================================= */

  .nav-menu {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto; 
  }

  .nav-menu-2 {
    position: inherit; 
  }

  .navbar {
    padding: .5rem 0; 
  }

  .navbar-brand {
    font-size: 31px; 
  }

  .navbar-light .navbar-brand {
    color: #fff; 
  }

    
  .navbar-light .navbar-brand:hover {
      color: #fff; 
  }


  .navbar-light .navbar-nav .show > .nav-link {
    color: #fff; 
  }	

  .navbar-light .navbar-nav .active > .nav-link {
    color: #fff; 
  }

  .navbar-light .navbar-nav .nav-link {
    font-size: 16px;
    font-weight: 300;
    color: #fff; 
  }

  .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link:focus {
     color: #fff;
     outline: none; 
  }


  .navbar-light .navbar-toggler {
    color: #fff;
    border-color: #fff; 
  }

  .top-destination{
  	text-align: center;
  	/*line-height: 50px;*/
  	margin-left: 15%;
  	height: 20%;
  	width:  100%;

  }

  .cardyellow{
  	margin-bottom: 10px;
  	margin-right: 50px;

  }

 	/*==============================================================
 	   EMPLOYER/EMPLOYER REGISTRATION/JOBSEARCH/JOBSEEKER/JOBSEEKER2
 	=================================================================*/
 	
 	header#mainHeader{
 		background-color: #6c757d;
 		width: 20vw;
 		height: 100vh;
 		position: fixed;
 		padding: 25px;
 		/*margin-top: 50px;*/
 	}

 	header#mainHeader > img {
 		width: 100%;
 		margin-bottom: 25px;
 		border:5px solid black;
 	}

 	header#mainHeader > nav >ul{
 		list-style-type: none;
 		text-align: center;
 	}

 	header#mainHeader > nav > ul > li {
 		height: 50px;
 		margin-bottom: 5px;
 	}

 	header#mainHeader > nav > ul > li > a {
 		text-decoration: none;
 		background-color: #e6ebef;
 		line-height: 50px;
 		display: block;
 		color: black;
 	}	

 	header#mainHeader > nav > ul > li > a:hover {
 		background-color: blue;
 		color:white;
 	}


 	/*==============================================================
 	                      JOBSEARCH
 	=================================================================*/

	header#mainHeader2{
 		background-color: #6c757d;
 		width: 20vw;
 		height: 100vh;
 		position: fixed;
 		padding: 25px;
 		/*margin-top: 50px;*/
 	}

 	header#mainHeader2 > img {
 		width: 80%;
 		margin-bottom: 25px;
 		border:20px solid black;
 	}

 	header#mainHeader2 > nav >ul{
 		list-style-type: none;
 		text-align: center;
 	}

 	header#mainHeader2 > nav > ul > li {
 		height: 50px;
 		margin-bottom: 5px;
 	}

 	header#mainHeader2> nav > ul > li > a {
 		text-decoration: none;
 		background-color: #e6ebef;
 		line-height: 50px;
 		display: block;
 		color: black;
 	}	

 	header#mainHeader2 > nav > ul > li > a:hover {
 		background-color: blue;
 		color:white;
 	}

 	.headerimg{
 		line-height: 50px;
 		display: block;

 	}

 	main#wrapper{
 		background-color: gray;
 		margin-left: 20vw;
 		color:white;
 		text-align: center;
 	}

 	/*====================
 	         SEARCH
 	======================*/

 	section#search{
 		background-color: white;
 		min-height: 75vh;
 		color: black;
 		padding: 15px 15px 15px;
 		margin-top: 50px;
 	}	

 	section#search > h2 {
 		margin-top: 10px;
 	 	padding-top: 15px;
 	 	padding-bottom: 15px;
 	 } 	

 	section#search > div {
 		border: 2px solid black;
 		padding: 15px;
 		/*width: 33.33%;*/
 		float: left;
 		width: 100%;
 		margin-bottom: 15px;
 	}

 	section#search > div > p {
 		text-align: justify;
 	}	

 	section#search > div > img {
 		width: 10%;
 		float: left;
 		margin-right: 15px;
 	}	

 	section#search > div > h3 {
 		padding-top: 10px;
 		padding-bottom: 10px;
 		text-align: justify;
 	}	

 	/*===========================
 	           SERVICES
 	==============================*/

 	section#services{
 		background-color: white;
 		min-height: 75vh;
 		color: black;
 		padding: 0 15px 15px;
 		/*margin-top: 50px;*/
 	}	

 	section#services > h2 {
 		margin-top: 10px;
 	 	padding-top: 15px;
 	 	padding-bottom: 15px;
 	 } 	

 	section#services > div {
 		border: 2px solid black;
 		padding: 15px;
 		/*width: 33.33%;*/
 		float: left;
 		width: 100%;
 		margin-bottom: 15px;
 	}

 	section#services > div > p {
 		text-align: justify;
 	}	

 	section#services > div > img {
 		width: 10%;
 		float: left;
 		margin-right: 15px;
 	}	

 	section#services > div > h3 {
 		padding-top: 10px;
 		padding-bottom: 10px;
 		text-align: justify;
 	}	

 	/*===========================
 	    PERSONAL INFORMATION
 	==============================*/
 	section#personal{
 		background-color: white;
 		min-height: 75vh;
 		color: black;
 		padding: 15px 15px 15px;
 		margin-top: 50px;
 	}	

 	section#personal > h2 {
 		margin-top: 10px;
 	 	padding-top: 15px;
 	 	padding-bottom: 15px;
 	 } 	

 	section#personal > div {
 		border: 2px solid black;
 		padding: 15px;
 		/*width: 33.33%;*/
 		float: left;
 		width: 100%;
 		margin-bottom: 15px;
 	}

 	section#personal > div > p {
 		text-align: justify;
 	}	

 	section#personal > div > img {
 		width: 10%;
 		float: left;
 		margin-right: 15px;
 	}	

 	section#personal > div > h3 {
 		padding-top: 10px;
 		padding-bottom: 10px;
 		text-align: justify;
 	}	

 	/*===========================
 	    EDUCATIONAL BACKGROUND
 	==============================*/
 	section#educational{
 		background-color: white;
 		min-height: 55vh;
 		color: black;
 		padding: 15px 15px 15px;
 		/*margin-top: 50px;*/
 	}	

 	section#educational > h2 {
 		margin-top: 10px;
 	 	padding-top: 15px;
 	 	padding-bottom: 15px;
 	 } 	

 	section#educational > div {
 		border: 2px solid black;
 		padding: 15px;
 		/*width: 33.33%;*/
 		float: left;
 		width: 100%;
 		margin-bottom: 15px;
 	}

 	section#educational > div > p {
 		text-align: justify;
 	}	

 	section#educational > div > img {
 		width: 10%;
 		float: left;
 		margin-right: 15px;
 	}	

 	section#educational > div > h3 {
 		padding-top: 10px;
 		padding-bottom: 10px;
 		text-align: justify;
 	}	

	/*====================
 	    WORK EXPERIENCES
 	======================*/
 	section#work{
 		background-color: white;
 		min-height: 55vh;
 		color: black;
 		padding: 15px 15px 15px;
 		/*margin-top: 50px;*/
 	}	

 	section#work > h2 {
 		margin-top: 10px;
 	 	padding-top: 15px;
 	 	padding-bottom: 15px;
 	 } 	

 	section#work > div {
 		border: 2px solid black;
 		padding: 15px;
 		/*width: 33.33%;*/
 		float: left;
 		width: 100%;
 		margin-bottom: 15px;
 	}

 	section#work > div > p {
 		text-align: justify;
 	}	

 	section#work > div > img {
 		width: 10%;
 		float: left;
 		margin-right: 15px;
 	}	

 	section#work > div > h3 {
 		padding-top: 10px;
 		padding-bottom: 10px;
 		text-align: justify;
 	}	

 	/*====================
 	     REFERENCES
 	======================*/
 	section#references{
 		background-color: white;
 		min-height: 75vh;
 		color: black;
 		padding: 15px 15px 15px 15px;
 		/*margin-top: 50px;*/
 	}	

 	section#references > h2 {
 		margin-top: 10px;
 	 	padding-top: 15px;
 	 	padding-bottom: 15px;
 	 } 	

 	section#references > div {
 		border: 2px solid black;
 		padding: 15px;
 		/*width: 33.33%;*/
 		float: left;
 		width: 100%;
 		margin-bottom: 15px;
 	}

 	section#references > div > p {
 		text-align: justify;
 	}	

 	section#references > div > img {
 		width: 10%;
 		float: left;
 		margin-right: 15px;
 	}	

 	section#references > div > h3 {
 		padding-top: 10px;
 		padding-bottom: 10px;
 		text-align: justify;
 	}	
	
	/*====================
 	     COMPANY
 	======================*/
 	section#company{
 		background-color: white;
 		min-height: 40vh;
 		color: black;
 		padding: 15px 15px 15px 15px;
 		margin-top: 50px;
 	}	

 	section#company > h2 {
 		margin-top: 10px;
 	 	padding-top: 15px;
 	 	padding-bottom: 15px;
 	 } 	

 	section#company > div {
 		border: 2px solid black;
 		padding: 15px;
 		/*width: 33.33%;*/
 		float: left;
 		width: 100%;
 		margin-bottom: 15px;
 	}

 	section#company > div > p {
 		text-align: justify;
 	}	

 	section#company > div > img {
 		width: 10%;
 		float: left;
 		margin-right: 15px;
 	}	

 	section#company > div > h3 {
 		padding-top: 10px;
 		padding-bottom: 10px;
 		text-align: justify;
 	}	

 	/*====================
 	       ACCOUNT
 	======================*/
 	section#account{
 		background-color: white;
 		min-height: 40vh;
 		color: black;
 		padding: 15px 15px 15px 15px;
 		/*margin-top: 50px;*/
 	}	

 	section#account > h2 {
 		margin-top: 10px;
 	 	padding-top: 15px;
 	 	padding-bottom: 15px;
 	 } 	

 	section#account > div {
 		border: 2px solid black;
 		padding: 15px;
 		/*width: 33.33%;*/
 		float: left;
 		width: 100%;
 		margin-bottom: 15px;
 	}

 	section#account > div > p {
 		text-align: jaccount
 	}	

 	section#account > div > img {
 		width: 10%;
 		float: left;
 		margin-right: 15px;
 	}	

 	section#account > div > h3 {
 		padding-top: 10px;
 		padding-bottom: 10px;
 		text-align: justify;
 	}	

 	/*====================
 	        FOOTER
 	======================*/


 	footer#mainFooter{
 		background-color: black;
 		padding: 15px;
 		text-align: center;
 	}

 	footer#mainFooter > div#left {
 		width: 50%;
 		display:inline-block;
 		float: left;
 		font-size: 12px;
 		padding: 22px;
 	}

 	footer#mainFooter > div#right {
 		width: 50%;
 		display:inline-block;
 		float: left;
 		padding: 30px;
 	}

 	footer#mainFooter > div#right > ul {
 		list-style-type: none;
 		text-align: right;
 	}

 	footer#mainFooter > div#right > ul > li {
 		display: inline-block;
 		padding: 5px;
 	}


 	.clear:after {
 		content: "";
 		display: block;
 		clear: both;
 	}
 	}